build --incompatible_strict_action_env

build:local --strategy=local
build:local --jobs=200
build:local --local_cpu_resources=200
build:local --local_ram_resources='HOST_RAM*2.0'

build:remote --jobs=600
build:remote --repository_cache=~/.bazel/repository_cache/
build:remote --strategy=remote
build:remote --cpu=k8
build:remote --host_cpu=k8
build:remote --host_platform=//platforms:platform_linux
build:remote --platforms=//platforms:platform_linux
build:remote --crosstool_top=@buildbuddy_toolchain//:ubuntu_cc_toolchain_suite

build:remote --remote_cache=grpcs://remote.buildbuddy.io
build:remote --remote_timeout=3600
build:remote --remote_executor=grpcs://remote.buildbuddy.io

build:remote-w-bes --config=remote
build:remote-w-bes --bes_results_url=https://app.buildbuddy.io/invocation/
build:remote-w-bes --bes_backend=grpcs://remote.buildbuddy.io

# Create a user.bazelrc file with the following line
#   build:remote --remote_header=x-buildbuddy-api-key=<REDACTED>
try-import %workspace%/user.bazelrc
